.semaforo {
  width: 375px;
  height: 100%;
  background-color: var(--gris);
  border-radius: 1rem;
  border: 2px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 1rem;
}

.semaforo div {
  width: 20rem;
  height: 20rem;
  border: 2px solid black;
  border-radius: 50%;
}

.rojo,
.amarillo,
.verde {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #111;
  transition: all 0.3s ease;
}

.rojo {
  background-color: #300;
}
.rojo.claro {
  background-color: #f00;
  box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.5);
}

.amarillo {
  background-color: #330;
}
.amarillo.claro {
  background-color: #ff0;
  box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.5);
}

.verde {
  background-color: #030;
}
.verde.claro {
  background-color: #0f0;
  box-shadow: 0 0 20px 10px rgba(0, 255, 0, 0.5);
}


@media screen and (max-width: 480px) {
  .semaforo {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    gap: 1rem;
    padding: 0.5rem;
  }

  .semaforo div {
    width: 12rem;
    height: 12rem;
  }

  .rojo,
  .amarillo,
  .verde {
    width: 60px;
    height: 60px;
  }
}
