* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: monospace;
  font-size: 10px;
}

:root {
  --rojo: rgb(255, 23, 23);
  --amarillo: rgb(255, 255, 48);
  --verde: rgb(22, 241, 22);
  --gris: rgb(150, 146, 146);
}
